.wrapper {
	display: grid;
	gap: 10px 0;
	grid-template-columns: [start] 200px [posterend] 1fr [informationstart] 240px [informationend] 1fr [actionstart] 240px [actionend] 1fr [participantstart] 240px [end];
}

.title {
	display: grid;
	gap: 10px 0;
	grid-column: start / end;
}

.breadcrumbs {
	grid-column: start / end;
}

.poster {
	grid-column: start / posterend;
}

.information {
	display: grid;
	gap: 10px 0;
	grid-column: informationstart / informationend;
}

.actions {
	display: grid;
	gap: 10px 0;
	grid-column: actionstart / actionend;
}

.participantActions {
	display: grid;
	gap: 10px 0;
	grid-column: participantstart / end;
}


.description {
	grid-column: informationstart / actionend;
}

.participants {
	grid-column: start / actionend;
}

.participantsgrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.participant {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
}
