.wrapper {
	display: grid;
	grid-template-columns: [start] 200px [posterend] 1fr [informationstart] 240px [informationend] 1fr [ratingstart] 240px [ratingend] 1fr [scorestart] 240px [end];
	gap: 10px 0;
}

.title {
	grid-column: start / end;
}

.breadcrumbs {
	grid-column: start / end;
}

.poster {
	grid-column: start / posterend;
}

.information {
	display: grid;
	grid-column: informationstart / informationend;
	gap: 10px 0;
}

.rating {
	grid-column: ratingstart / ratingend;
}

.score {
	grid-column: scorestart / end;
}

.userrating {
	grid-column: start / posterend;
}

.description {
	grid-column: informationstart / ratingend;
}

.participants {
	grid-column: start / ratingend;
}

.participantsgrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.participant {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;
}
