@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;

    max-width: 100vw;

    background: hsl(var(--nextui-background));

    font-family: var(--font-mulish);
}

a {
    text-decoration: none;

    color: inherit;
}

:root {
    --font-mulish: 'Mulish', sans-serif;
    --font-notosans: 'Noto Sans', sans-serif;
}